* { box-sizing: border-box; border: thin solid black;}

html, body {margin: 0; height: 100%;}

.row {
  height: 25%;
  width: 100%;
}

.card {
  width: 25%;
  height: 100%;
  float: left;
}

.img {
  width:100%;
  height: 100%;
}
.back {
  background-color: black;
}
